<h1>Studid Coach</h1>
<blockquote class="question">
<p><%= @question %></p>
    <p>— You</p>
</blockquote>

<blockquote class="answer">
   <%= @answer %>
     <p>— Your coach</p>
</blockquote>
  <%= link_to "Ask a new question", ask_path %>
